
.messagesss {
  display: inline-grid;
  width: 100%;
}

.message {
  max-width: 100%;
  display: table;
  border-spacing: 3px;
  color: white;
}


.r {
  position: relative;
  background-color: gray;
  margin-left: 0px;
  margin-right: auto;
  max-width: 70%;
  width: auto;
  border-radius: 3px;
}
.s {
  position: relative;
  max-width: 70%;
  background-color: #6699cc;
  margin-right: 0px;
  margin-left: auto;
  width: auto;
  border-radius: 3px;
}

.date-r {
  position: relative;
  color: gray;
  font-size: 10px;
  margin-left: 0px;
  margin-right: auto;
  max-width: 70%;
  width: auto;
  border-radius: 3px;
  border-spacing: 5px;
}
.date-s {
  position: relative;
  max-width: 70%;
  color: gray;
  font-size: 10px;
  margin-right: 0px;
  margin-left: auto;
  width: auto;
  border-radius: 3px;
  border-spacing: 555px;
}

.message-data {
  margin-right: 7px;
  margin-left: 7px;
}
