.header {
  position: sticky;
  width: 100%;
  top: 0px;
  display: inline-flex;
  text-align: center;
  align-items: center;
  z-index: 99;
}

.homeButton {
  font-size: 20px;
  margin-left: 2%;
}

.searchForm {
  text-align: center !important;
  width: 80%;
}

.searchGroup {
  width: 100%;
  display: flex;
}

.searchBar {
  width: 80% !important;
  min-width: 0% !important;
}


.searchButton {
  font-size: 15px;
  min-width: 74px !important;
}

.header-logout {
  width: 5%;
  min-width: 74px !important;
}

.header-userImage {
  margin-right: 2%;
}

.header-userControl {
  display: inline-flex;
}
