
.edit-header {
  display: grid;
  grid-template:
    "profile-picture-edit"
    "profile-info-edit";
}
@media only screen and (min-device-width: 800px) {
  .profile-picture-edit {
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    grid-area: profile-picture-edit;
  }

  .edit-header {
    display: grid;
    grid-template:
      "profile-picture-edit profile-info-edit ";
  }
}

.profile-picture-edit {
  max-width: 250px;
  max-height: 250px;
  width: auto;
  height: auto;
  grid-area: profile-picture-edit;
  margin: auto;
  border-radius: 6px;
}

.profile-info-edit {
  grid-area: profile-info-edit;
}
