.repoTracker-tab {
  margin-left: 3%;
  margin-right: 3%;
  color: black !important;
  background-color: #E8E8E8 !important;
}

.repoTracker {
    color: black !important;
    background-color: #E8E8E8 !important;
    height: 400px;
    overflow: hidden;
}
.repoTracker-tab-title {
  text-align: center;
  font-size: 20px;
}

.repoTracker-tab-data {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
