#root, html, .route {
  background-color: #E8E8E8;

}

/*a {
  color: #484848 !important;
  text-decoration: none !important;
}*/

.glyphicon, .carousel-control {
  opacity: 0.25  !important;
}

.route {
  margin: 20%;
  margin-top: 5px;
}

@media only screen and (max-width: 1026px) {
  .route {
    margin: 0px;
  }
}

.entry {
  width: 100%;
  margin: 0%;
  display: inline-block;
}
.entry :hover {
  cursor: pointer;
}

.static {
  background-color: #D3D3D3;
}

.entry-image {
  margin-right: 1%;
  margin-bottom: 0.5%;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.entry-name {
  margin-left: 5px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
}

.space {
  display: inline-block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.entry-text {
  float:left;
  width: 100%;
  word-wrap: break-word;
  cursor: pointer;
  color: black;
}

.entry-button {
  float: right;
}

.entry-entry {
  display: grid;
  grid-template: ". .";
}

.no-text {
  color: gray;
}

.entry-header {
  display: inline-grid;
  grid-template: ". .";
}

.loading-animation {
  border: 9px solid #f3f3f3;
  border-top: 9px solid #3498db;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  margin: 20px auto 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.clickable {
  cursor: pointer;
  caret-color: transparent !important;
}

.empty {
  height: 0vh;
}
