

.start {
	height: 100%;
	vertical-align: center;
	width: 100%;
}



.logo {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
	vertical-align: middle;
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

.logo-cursor {
	animation: 2s blink step-end infinite;
}

.main-form-wrapper {
	margin: auto;
	width: 400px;
	vertical-align: center;
	grid-area: loginForm;
}

.main-form {
	margin: 15px;
	color: white;
}


@keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: white;
	}
}
